.carro{
    width: 371px;
    height: 750px;
    display: inline-block;
    cursor: pointer;
}

#painel{
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 100px;
}